<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card card-body">
                <h1 class="title">Forgot Password</h1>
                @if(showUpdatePasswordForm()) {
                    <app-update-password-form></app-update-password-form>
                } @else {
                    <app-validate-email-form (emailValidated)="onEmailValidated($event)"></app-validate-email-form>
                }
            </div>
        </div>
    </div>
</div>