<form [formGroup]="formGroup" class="form" (ngSubmit)="onSubmit()">
    @if (isLoading()) {
        <mat-spinner  data-spinner=""></mat-spinner>
    } @else {
        <div class="form-group">
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput placeholder="Enter your email" [formControl]="validateEmailField" data-validate-email-field="">
                @if (validateEmailField.invalid && (validateEmailField.dirty || validateEmailField.touched)) {
                    <mat-error *ngIf="validateEmailField.errors!['required']" data-validate-email-error-field="">Email is invalid</mat-error>
                }
            </mat-form-field>
        </div>
        <button mat-flat-button color="primary" [disabled]="!formGroup.valid" type="submit" data-validate-email-btn="">Validate Email</button>
    }
</form>