<form [formGroup]="formGroup" class="form" (ngSubmit)="onSubmit()" class="validate-email-form-container" data-validate-email-form="">
    @if (isLoading()) {
        <mat-spinner  data-spinner=""></mat-spinner>
    } @else {
        <div class="form-group">
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput placeholder="Enter your email" [formControl]="validateEmailField" data-validate-email-field="">
                @if (validateEmailField.hasError('required')) {
                    <mat-error data-validate-email-error-field="">Email is required</mat-error>
                } @else if (validateEmailField.hasError('pattern')) {
                    <mat-error data-validate-email-error-field="">Email is invalid</mat-error>
                }
            </mat-form-field>
        </div>
        <button class="validate-email-btn" mat-flat-button color="primary" [disabled]="!formGroup.valid" type="submit" data-validate-email-btn="">Validate Email</button>
    }
</form>