<div class="container">
    <div class="row">
        <img src="../../assets/social_face_logo.svg" alt="social_face_logo">
    </div>
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card card-body">
                <h1 class="title">Social Face</h1>
                <form [formGroup]="formGroup" class="form" (ngSubmit)="onSubmit()">
                    @if (isLoading()) {
                        <mat-spinner data-spinner=""></mat-spinner>
                    } @else {
                        <div class="form-group">
                            <mat-form-field>
                                <mat-label>Username</mat-label>
                                <input matInput placeholder="Enter your username" [formControl]="username" required data-username-field="">
                                @if (username.invalid && (username.dirty || username.touched)) {
                                    <mat-error *ngIf="username.errors!['required']" data-username-error-field="">Username is required</mat-error>
                                }
                            </mat-form-field>
                        </div>
                        <div class="form-group">
                            <mat-form-field>
                                <mat-label>Password</mat-label>
                                <input type="password" matInput placeholder="Enter your password" [formControl]="password" required data-password-field="">
                                @if (password.invalid && (password.dirty || password.touched)) {
                                    <mat-error *ngIf="password.errors!['required']" data-password-error-field="">Password is required</mat-error>
                                }
                            </mat-form-field>
                        </div>
                        <a mat-button color="primary" [routerLink]="['/forgot-password']" data-forgot-password-btn="">Forgot Password?</a>
                        <a mat-button color="primary" [routerLink]="['/register-user']" data-create-account-btn="">Create Account</a>
                        <button mat-flat-button color="primary" [disabled]="!formGroup.valid" type="submit" data-login-btn="">Login</button>
                    }
                </form>
            </div>
        </div>
    </div>
</div>