@import "./styles/variables.scss";

html,
body {
  height: 100%;
}
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
}

.text-center {
  text-align: center;
}

main {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
  background-color: $core-background-color;
}

.mat-mdc-progress-spinner {
  height: 50px! important;
  width: 50px! important;
}