<section class="posts-section-container" aria-label="Posts List" data-posts-section-container="">
    <div class="post-list-container">
        @for(post of postList(); track post.id; let idx = $index) {
            @if(idx > 0 && idx % 4 === 0) {
                <article class="post-article" aria-label="ad">
                    <app-ad [ad]="ad()" [index]="idx"></app-ad>
                </article>
            } @else {
                <article class="post-article" aria-label="Post">
                    <app-post [post]="post" [index]="idx"></app-post>
                </article>
            }
        }
    </div>
</section>