<section class="posts-section-container" aria-label="Posts List" data-posts-section-container="">
    <div class="post-list-container">
        @for(post of postList(); track post.id; let idx = $index) {
            @if(idx > 0 && idx % 4 === 0) {
                <p>here comes an ad</p>
            } @else {
                <article class="post-article" aria-label="Post">
                    <app-post [post]="post"></app-post>
                </article>
            }
        }
    </div>
</section>