@import "../../../styles/variables";

.post-container {
    p.post-content {
        color: $core-text-color-white;
        font-size: 1rem;
        padding: 15px;
    }

    .mat-mdc-card-footer {
        margin-top: 10px;
    }

    span.post-like-amount,
    span.post-comments-amount {
        color: $core-text-color-white;
        font-size: 0.8rem;
        font-weight: 700;
        margin-left: 15px;
    }
}