@import "../../../../styles/mixins.scss";

.update-password-form-container {
    height: 200px;

    .form-group {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 90%;
    }

    .update-password-btn {
       @include button-large;
    }
}