.create-user-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 360px;
  justify-content: center;
  width: 100%;

  .user-creation-stepper {
    width: 60%;
  }

  .form-group-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
  }

  .account-created-title {
    color: white;
    margin-left: 9px;
  }

  @media screen and (max-width: 768px) {
    .user-creation-stepper {
      width: 90%;
    }


    .form-group-container {
      gap: 20px;
    }

    .mat-mdc-form-field {
      width: 80%;
    }
  }
}
