@import '../../../styles/mixins.scss';

.create-user-container {
  @include flex-box-center;
  flex-direction: column;

  .user-creation-stepper {
    width: 60%;
  }

  .form-group-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
  }

  .account-created-title {
    color: white;
    margin-left: 9px;
  }

  .return-to-login-btn {
    margin-left: 10px;
  }

  @media screen and (max-width: 768px) {
    .user-creation-stepper {
      width: 90%;
    }


    .form-group-container {
      gap: 20px;
    }

    .mat-mdc-form-field {
      width: 80%;
    }

    .create-user-stepper-buttons-container {
      margin-top: 15px;
    }
  }
}
