@mixin button-large {
  width: 100% !important;
}

@mixin flex-box-center {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

@mixin box-shadow {
  box-shadow: -14px 4px 50px 0px rgba(0,0,0,0.3)
}
